<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="core.september.speechreminder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Speechab" >
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <activity
            android:name="core.september.speechreminder.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name="core.september.speechreminder.activities.SpeechReminderActivity"
            android:label="@string/title_activity_speechreminder" >
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

        </activity>
        <activity
            android:uiOptions="splitActionBarWhenNarrow"
            android:name="core.september.speechreminder.activities.SpeechReminderActivity$DetailsActivity"
            android:label="@string/title_activity_speechreminder_details" >
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />

        </activity>

        <receiver
            android:name="core.september.speechreminder.receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="core.september.speechreminder.receivers.BootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="core.september.speechreminder.receivers.SchedulerProvider"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name="core.september.speechreminder.services.SpeechService"
            android:exported="false" >
        </service>
    </application>

</manifest>
